<div id="header" ng-controller="header-controller as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-8">
                <div class="row" id="nav">
                    <div class="col-md-16">
                        <div id="navbar" ng-show="{{$ctrl.teacherrole}}" class="defaultText">
                            <a href="/start" ng-class="{ active: isActive('/start')}">Start test</a>
                            <a href="/create" ng-class="{ active: isActive('/create')}">Create Test</a>
                            <a href="/tests" ng-class="{ active: isActive('/tests')}">Tests</a>
                            <a href="/teacher-view-results" ng-class="{ active: isActive('/teacher-view-results')}">View results</a>
                            <a href="#" ng-click="$event.preventDefault();logout()">Logout</a>
                        </div>
                        <div id="navbar" ng-show="{{$ctrl.adminrole}}" class="defaultText">
                            <a href="/admin" ng-class="{ active: isActive('/admin')}">Dashboard</a>
                            <a href="#" ng-click="$event.preventDefault();logout()">Logout</a>
                        </div>
                        <div id="navbar" ng-show="{{$ctrl.studentrole}}" class="defaultText">
                            <a href="/begin-test" ng-class="{ active: isActive('/begin-test')}">Test</a>
                            <a href="#" ng-click="$event.preventDefault();logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>