#header{
	height: 120px;
	background-color: white;
	border-bottom: 1px solid #dae0e7;
	box-shadow: 0px 2px 4px 0px rgba(38, 50, 56, 0.25);
}

.nofocus:focus {
    outline: none;
}

#logo{
	width: 144px;
	height: 60px;
	margin-top: 32px;
}

#userPanel{
	float: right;
    cursor: pointer;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
}

#user-icon{
	clear: both;
	width: 40px;
	height: 40px;
	float: left;
}

.arrow{
	margin-left: 5px;
}

md-menu-content{
	padding: 0 !important;
}

.md-nav-bar {
	border: none;
}

.item {
	height: 52px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item:hover {
	background-color: #e9e9e9;
	color:  #0095cd;
	cursor: pointer;
}

.defaultText {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-weight: 600;
}

#welcomeText {
	height: 20px;
	text-align: left;
	color: #263238;
	float: left;
	margin-top: 10px;
	margin-left: 8px;
}

#navbar {
    float: right;
    box-sizing: border-box;
    margin-left: -40px;
}

#navbar a {
    float: left;
    display: block;
    color: #263238;
    text-align: right;
    margin-left: 40px;
    padding-bottom: 16px;
    text-decoration: none;
    border-bottom: 2px transparent solid;
}

#navbar a:hover {
    color: #0095cd;
}

#navbar a.active {
    border-bottom: 2px #0095cd solid;
    color: #0095cd;
}

.defaultText{
	outline: none;
}

@media (min-width: 991px) and (max-width: 1200px){
	#navbar{
		margin-left: -200px;
	}
}

@media (min-width: 701px) and (max-width: 990px){
	#logo{
		margin-top: 10px;
	}
	#userPanel{
		margin-top: -50px;
	}
	#navbar{
		margin-bottom: 10%;
		float: right;
	}
	.col-sm-8{
		width: 100% !important;
	}
}

@media (min-width: 320px) and (max-width: 700px)  { 
	#logo{
		margin-top: 5px;
	}
	#userPanel{
		float: right;
		margin-top: -55px;
	}
	#navbar a{
		margin-left: 20px;
	}

	#navbar{
		margin-top: 10px;
		margin-left: -10px;
	}
}

@media (min-width: 501px) and (max-width: 700px)  { 
	#logo{
		margin-top: 5px;
	}
	#userPanel{
		float: right;
		margin-top: -55px;
	}
	#navbar a{
		margin-left: 20px;
	}

	#navbar{
		margin-top: 10px;
		margin-left: -10px;
	}
}

@media (min-width: 320px) and (max-width: 500px)  { 
	#logo{
		margin-top: 5px;
	}
	#userPanel{
		float: right;
		margin-top: -55px;
	}
	#navbar a{
		margin-left: 20px;
	}

	#navbar{
		margin-top: 10px;
		margin-left: -10px;
	}
	#navbar a:last-child{
		display: none;
	}
}