<header-component></header-component>

<div class="container" ng-controller="AdminController as ctrl">
    <h1> Admin </h1>
    <p>Selected Value: <span class="radioValue">{{ radio.selectedRadio }}</span> </p>
    <div layout="column" style="height:500px; " ng-cloak>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')"
                        md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <div class="selectPage">
                        <md-radio-group ng-model="radio.selectedRadio">
                            <radio-component label="Teachers"
                                             model="Teachers">
                            </radio-component>
                            <radio-component label="Students"
                                             model="Students">
                            </radio-component>
                            <radio-component label="Lectures"
                                             model="Lectures">
                            </radio-component>
                            <radio-component label="Classes"
                                             model="Classes">
                            </radio-component>
                        </md-radio-group>
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <div class="TeachersDrop" ng-if="radio.selectedRadio=='Teachers'">
                        <dropdown-component id="teacher"
                                            data="dropDownTeachers"
                                            option="person.teacherID"
                                            name="Teacher"
                                            width="250">
                        </dropdown-component>
                    </div>
                    <div class="StudentsDrop" ng-if="radio.selectedRadio=='Students'">
                        <p>Selected Value: <span class="radioValue">{{ person.studentID }}</span> </p>
                        <dropdown-component id="studyClass"
                                            data="dropDownClasses"
                                            option="person.classID"
                                            name="Class"
                                            width="250"
                                            required>
                        </dropdown-component><br/>
                        <dropdown-component ng-if="radio.selectedRadio=='Students'"
                                            id="student"
                                            data="dropDownStudents"
                                            option="person.studentID"
                                            name="Student"
                                            width="250">
                        </dropdown-component>
                    </div>
                    <div class="LecturesDrop" ng-if="radio.selectedRadio=='Lectures'">
                        <dropdown-component id="lecturesComponent"
                                            data="dropDownLectures"
                                            option="lecture.lectureID"
                                            name="Lecture"
                                            width="250">
                        </dropdown-component>
                    </div>
                    <div class="ClassesDrop" ng-if="radio.selectedRadio=='Classes'">
                        <dropdown-component id="classesComponent"
                                            data="dropDownClasses"
                                            option="class.classID"
                                            name="Classes"
                                            width="250">
                        </dropdown-component>
                    </div>
                    <br />

                    <primary-button-component id="addElement"
                                              text="New"
                                              ng-click="new()">
                    </primary-button-component>
                    <primary-button-component id="deleteElement"
                                              text="Delete"
                                              ng-click="delete(radio.selectedRadio)">
                    </primary-button-component>
                    <primary-button-component id="addQuestion"
                                              text="Save"
                                              ng-click="save(radio.selectedRadio)">
                    </primary-button-component>
                </md-content>

            </md-sidenav>

            <md-content flex layout-padding>
                <div class="Teacher" layout="column" layout-align="top center" ng-if="(radio.selectedRadio=='Teachers') || (radio.selectedRadio=='Students')">
                    <p>Selected Value: <span class="radioValue">{{ Lectures }}</span> </p>
                    <div>
                        <input-component label="First Name"
                                         width=250
                                         model="person.firstName" />
                    </div>
                    <div>
                        <input-component label="Last Name"
                                         width=250
                                         model="person.lastName" />
                    </div>
                    <div>
                        <input-component label="Email"
                                         width=250
                                         model="person.email" />
                    </div>
                    <div ng-if="radio.selectedRadio=='Teachers'">
                        <dropdown-multiple-select-component id="lecture"
                                                            label="Lectures"
                                                            option="person.lectures"
                                                            name="Lecture"
                                                            width=250
                                                            data="dropDownLectures">
                        </dropdown-multiple-select-component>
                    </div>
                </div>



                <div class="Lectures" layout="column" layout-align="top center" ng-if="radio.selectedRadio=='Lectures'">
                    <p>Selected Value: <span class="radioValue">{{ lecture.yearOfStudy }}</span> </p>
                    <div>
                        <input-component label="Name"
                                         width=250
                                         model="lecture.name" />
                    </div>
                    <div>
                        <dropdown-component id="yearOfStudy"
                                            data="studyYears"
                                            option="lecture.yearOfStudy"
                                            name="Year of Study"
                                            width="250">
                        </dropdown-component>
                    </div>
                </div>

                <div class="Classes" layout="column" layout-align="top center" ng-if="radio.selectedRadio=='Classes'">
                    <div>
                        <input-component label="Class Name"
                                         width=250
                                         model="class.name" />
                    </div>
                </div>

                <div flex></div>

            </md-content>

        </section>

    </div>
</div>