<header-component teacherrole="true"></header-component>

<div class="container">
    <h1> Create test </h1>
    <div class="question" ng-show="showQuestion">
        <form>
            <mat-form-field>
                <textarea-component label="Please enter the Question"
                                    width=700
                                    rows="1"
                                    model="model.question" />

            </mat-form-field>
            <mat-form-field>
                <textarea-component label="Points"
                                    width=50
                                    rows="1"
                                    model="model.points" />

            </mat-form-field>
            <div class="Answers" ng-repeat="answer in model.answers">

                <mat-form-field>
                    <textarea-component label="Please enter the Answer"
                                        width=700
                                        rows="1"
                                        model="answer.content" />
                </mat-form-field>

                <mat-form-field>
                    <checkbox-component label="Correct answer" model="answer.correct"></checkbox-component>
                </mat-form-field>
            </div>
            <p>
                <mat-form-field>
                    <primary-button-component id="testPreview" text="Test preview" ng-click="showPreview()"></primary-button-component>
                </mat-form-field>
                <mat-form-field>
                    <primary-button-component id="addQuestion" text="Add question" ng-click="addQuestion(model.question, model.answers, model.points)"></primary-button-component>
                </mat-form-field>
                <mat-form-field>
                    <primary-button-component id="addAnswer" text="Add answer" ng-click="addAnswer()"></primary-button-component>
                </mat-form-field>
            </p>
        </form>
    </div>

    <div class="TestPreview" ng-hide="showQuestion">
        <form>
            <div id="selectors">
                <mat-form-field>
                    <dropdown-component id="lecture"
                                        data="dropDownLectures"
                                        option="model.lectureID"
                                        name="Lecture"
                                        width="300">
                    </dropdown-component>
                </mat-form-field>
                <mat-form-field>
                    <input-component label="Test naming"
                                        width=350
                                        model="model.testNaming" />
                </mat-form-field>
            </div>
            <div class="Question" ng-repeat="question in model.questions">

                <mat-form-field>
                    <textarea-component label="Question"
                                        width=700
                                        rows="1"
                                        model="question.question.content" />
                </mat-form-field>
                <mat-form-field>
                    <textarea-component label="Points"
                                        width=50
                                        rows="1"
                                        model="question.question.points" />

                </mat-form-field>
                <div class="Answers" ng-repeat="answer in question.answers">
                    <mat-form-field>
                        <textarea-component label="Answer"
                                            width=700
                                            rows="1"
                                            model="answer.content" />
                    </mat-form-field>
                    <mat-form-field>
                        <checkbox-component label="Correct answer" checked="answer.correct" model="answer.correct"></checkbox-component>
                    </mat-form-field>
                </div>
            </div>
            <p>
                <mat-form-field>
                    <primary-button-component id="saveAndSubmit" text="Save and Submit" ng-click="saveAndSubmit()"></primary-button-component>
                </mat-form-field>
                <mat-form-field>
                    <primary-button-component id="cancel" text="Cancel" ng-click="cancel()"></primary-button-component>
                </mat-form-field>
            </p>
        </form>
    </div>
</div>